/*   footer
----------------------------   */

.footer#mainFooter {
    padding: 0 !important;
    border-top: 1px solid #929292;
    background-color: rgba(245, 251, 201, 0.8);
    #topfoot.container {
        /* dont add padding!*/
        #footer-content {
            margin:3em 0;
            h5 {
                margin-bottom: .75em;
                @include xsmall {
                    font-size: 20px;
                    i.material-icons.md-dark {
                        font-size: 18px;
                    }

                }//xsmall
            }
            #socialIcons {
                p {
                    margin-bottom: 1.2em;
                    font-size: 14px;
                    @include small {
                        margin-bottom: 1em;
                    }//small
                } //p
                a {
                    -moz-transition:  all 3s ease-in-out;;
                    -webkit-transition: all 3s ease-in-out;;
                    -o-transition:  all 3s ease-in-out;;
                    transition: all 3s ease-in-out;;
                    display: inline-block;
                    margin-left: .5em;
                    max-height: 57px;
                    max-width: 57px;
                    font-size: 14px;
                    @include xsmall {
                        img  {
                            max-width: 36px;
                            max-height: 42px;

                        }  
                    }//small
                    &:hover img {
                        transform:scale(1.1);
                        transform:scale(1.1);
                        transform:scale(1.1);
                    }//img
                    
                        
                    
                    @include small {
                        max-width: 40px;
                        margin-left: 0;
                        margin-right: .5em;
                    } //small
                    @include tablet {
                        max-width: 40px;
                        margin-left: 0;
                    }
                    @include xsmall {
                        max-width: 36px;
                        height: 42px;
                    }//xsmall
                } //a
            } //socialIcons
            #relatedLinks {

                a {
                    color:$purpleM;
                } 
                @include xsmall {
                    h5 {
                        font-size:20px;
                        i.material-icons.md-dark {
                            font-size: 18px;
                        }//icons
                    }//h5   
                }//xsmall
                ul.related {
                    padding:3px 0;
                    @include xsmall {
                        li {
                            line-height: 24px;
                        }
                        span {
                            display: none;
                        }//span
                    }//xsmall
                    li {
                        a {
                            color: $purpleM;
                            text-decoration: underline;
                            font-size: 14px;
                            vertical-align: text-bottom;
                        } //a

                        i.material-icons {
                            vertical-align: text-top;
                            font-size: 13px;
                        } //i.material-icons

                    } //li  

                }//ul.related
                
            }//relatedLinks
                
            #moreAboutUs {
                i.material-icons {
                    vertical-align: text-top;
                }//material-icons
                @include xsmall {
                    margin-bottom: 1em;
                }
            }
            //moreAboutUs
         
            .subfoot {
               
                p {
                    color: lighten($black, 7);
                    font-size: 15px;
                    line-height: 24px;
                    vertical-align: text-top;
                    i.material-icons {
                        font-size: 16px;
                        vertical-align: middle;
                    }
                }
                h5 {
                    .material-icons.md-dark {
                        color: $purpleM;
                        font-size: 22px;
                        line-height: 98%;
                        vertical-align: middle;
                        @include tablet {
                            font-size: 19px;
                        }//tablet
                        @include small {
                            font-size: 18px;
                        }//small
                    } //material-icons
                } //h5
            } //subfoot
        } //footer-content
    } //topfoot.container
    #botfoot {
       
        border-top: 1px solid #871c14;
        background-color: #a62319;
        border-top: 1px solid #180403;
        background-color: $botfoot;
        @include small {}
        .container {
            .row {
                #bottomlogo  {
                   padding:10px;
                    img {
                        max-width: 50px;
                    }//img
                    @include small {
                    img  {   

                        max-width: 60px !important;
                        display: inline-block;
                        vertical-align: middle;
                    }//img    
                    }//small
                    @include xsmall {
                        padding-top: .3em;
                    }//xsmall
                } //bottomlogo
                .copyright {
                    text-align: right;
                    vertical-align: middle;
                    line-height: 73.25px;
                    height: 73.25px;
                    margin-bottom: 0;
                    font-size: 13px;
                    color:lighten($purpleM,5);
                    .fcee  {
                        vertical-align: text-top;
                        line-height: 26px;
                        font-size: 22px;
                        color: darken($white,50);
                    }//fcee
                   
                    @include small {
                        line-height: 18px;
                        font-size: 12px;
                        vertical-align: middle;
                        padding-top: 20px;
                        min-height: 30px;
                    }//small
                    @include xsmall {
                        padding-top:10px !important;
                        line-height: 18px;
                        font-size: 12px;
                    }//xsmall
                    .myself {
                        color: darken($white,36);
                        vertical-align: text-top;
                        line-height: 22px;
                        font-size: 13px;
                        
                        @include small {
                            font-size: 12px;
                            line-height: 18px;
                            vertical-align: middle;
                        }//small
                        @include xsmall {
                            float:right;
                        }//xsmall
                    } //myself
                    span.braggSection {
                        vertical-align: text-top;
                        line-height: 20px;
                        margin-right: 2.5em;
                        .city {
                            color:darken($white,60);
                        }
                        .year {
                            color:darken($white,50);
                        }
                        @include small {
                            margin-right: 1em;
                            line-height: 18px;
                            .city {
                                float:right;
                                font-weight: bold;
                            }//a.city
                            .year {
                                float:right;
                                font-weight: bold;
                                color:darken($white,20);
                            }//a.year
                            
                        }//small
                        @include xsmall {
                                .city {
                                    color:darken($white,5);
                                    float:right;
                                }//city
                                .year {
                                    float:right;
                                    color:darken($white,5);
                                }//year
                        }//xsmall

                        a.sl {
                            color: lighten($white,0);
                            font-size: 12px;
                            @include small {
                                font-size: 12px;
                                line-height: 12px;
                            }//small
                            @include xsmall {
                                margin-left:.3em; 
                               
                            }//xsmall

                        } //a.sl
                    } //braggSection	
                } //copyright
            } //row
        } //container
    } //botfoot
} //footer