/*  maincontent
-------------------------------- */

#mainContent {
    
    &:focus {
        outline: none;
    }
    @include small {}
    .mainpad {
        margin-bottom: 2em;
    } //mainpad
    #maintop {
        /* im getting rid of 15pad from container */
        padding:0;
        #featureBanner {
            .img-responsive {
                max-width: 100%;
                height: auto;
                margin:0 auto 1.25em;
           
            }//img-responsive
            border-bottom: 1px dotted darken($background, 12);
            margin-bottom: 2em;
            figure#bannerCaption {
               
                background-color: $background;
                padding:0 15px;
                @include border-radius;
                p {
                    font-size: 14px;
                    margin-bottom: 1.2em;
                    @include small {
                        font-size: 13px;
                    }
                }
                h4 {
                    margin-bottom: .5em;
                    i.material-icons {
                        vertical-align: text-top;
                        font-size: 22px;
                    } //material-icons
                    @include small {
                        font-size: 22px;
                        p {
                            font-size: 13px;
                        }
                    }
                }
            } //figure
        } //featureBanner
    } //maintop
    #mainmiddle1, #mainmiddle2 {
        
        .apiarea {

            margin: 2em 0;
            .headline> {
                margin-bottom: .5em;
                i.material-icons {
                    color: $lightred;
                    font-size: 24px;
                    line-height: 99%;
                    vertical-align: middle;
                } //material-icons
            } //headline
        } //apiarea
    } //mainmiddle

    #mainmiddle2  {

        table.table {
            background-color: rgba(235, 235, 240, 0.35);
        }
        
        padding-left: 3em;
        
        
        
    }//mainmiddle
    
    #outercanvas   {
      
        cursor: pointer;
        margin-bottom: 3em;
        padding: 1.5em;
        border-radius: 5px;
        box-shadow: 0px 1px 1px 1px rgba(26, 19, 19, 0.35);
        background: url(../assets/images/beehive6.jpg);
        opacity: .85;
        span {
            font-family: $font-primary;
            color:$white;
            line-height: 20px;
            text-shadow: -1px 1px black;
        }
        
        #beeCanvas {
            display: block;
            height: 100%;
            width: 100%;
            background: url(../assets/images/beehive.jpg);
            background-repeat: repeat-x;
            z-index: -10000;
            padding: 1.5em;
            background: #838184;
            outline: 3px solid #a5644d;
        
        }//beeCanvas

        
        
       


    }//outercanvas


    #mainbottom {
        .apiarea {
            margin-bottom: 2em;
            .headline {
                margin-bottom: .5em;
                i.material-icons {
                    color: $lightred;
                    font-size: 24px;
                    line-height: 99%;
                    vertical-align: middle;
                } //material-icons
            } //headline
        } //apiarea
    } //mainbottom
} //mainContent