/*  maincontent
-------------------------------- */

#mainContent {
    
    &:focus {
        outline: none;
    }
    @include small {}
    .mainpad {
        margin-bottom: 2em;
    } //mainpad
    #maintop {
        /* im getting rid of 15pad from container */
        padding:0;
        #featureBanner {
            .img-responsive {
                max-width: 100%;
                height: auto;
                margin:0 auto 1.25em;
           
            }//img-responsive
            border-bottom: 1px dotted darken($background, 12);
            margin-bottom: 2em;
            figure#bannerCaption {
               
                background-color: $background;
                padding:0 15px;
                @include border-radius;
                p {
                    font-size: 14px;
                    margin-bottom: 1.2em;
                    @include small {
                        font-size: 13px;
                    }
                }
                h4 {
                    margin-bottom: .5em;
                    i.material-icons {
                        vertical-align: text-top;
                        font-size: 22px;
                    } //material-icons
                    @include small {
                        font-size: 22px;
                        p {
                            font-size: 13px;
                        }
                    }
                }
            } //figure
        } //featureBanner
    } //maintop
    #mainmiddle1, #mainmiddle2 {
        
        .apiarea {

            margin: 2em 0;
            .headline> {
                margin-bottom: .5em;
                i.material-icons {
                    color: $lightred;
                    font-size: 24px;
                    line-height: 99%;
                    vertical-align: middle;
                } //material-icons
            } //headline
        } //apiarea
    } //mainmiddle

    #mainmiddle2  {

        table.table {
            background-color: rgba(235, 235, 240, 0.35);
        }
        @mixin desktop {
            padding-left: 3em;
        }
        
        
        
        
    }//mainmiddle
    
    #outercanvas   {
      
        cursor: pointer;
        margin-bottom: 3em;
        opacity: .95;
        border-radius: 4px;
        @include xsmall {
            img#ibee {
                max-width: 45px !important;
                right: 57px !important;
                bottom:45px !important;
            }//img
        }//xsmall
        img#ibee {
            max-width: 60px;
            height: auto;
            position: absolute;
            right: 295px;
            bottom: 8px;
            z-index: 90000;
            box-shadow: 0px 3px 4px 1px #f4bbff;
            background-color: rgba(252, 255, 234, 0.22);
            padding: .2em;
            border-radius: 4px;
        }
        span {
            float:right;
            @include xsmall {
                display: block !important;
                float: none;
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                
            }//xsmall
            font-family: $font-primary;
            color:$botfoot;
            line-height: 20px;
            padding-right: 1em;
            
        }

        
        
        #beeCanvas {
            display: block;
            height: 100%;
            width: 100%;
            background-repeat: repeat;
            z-index: -10000;
            padding: .35em;
           
        
        
        }//beeCanvas

        .view {
            position: absolute;
            top: 10%;
            right: 30%;
            letter-spacing: 1px;
            padding:2.5em;
            text-align: center;
            background-color: $botfobg;
            border-radius: 5px;
            width:60%;
        }
        
        
       


    }//outercanvas


    #mainbottom {
        .apiarea {
            margin-bottom: 2em;
            .headline {
                margin-bottom: .5em;
                i.material-icons {
                    color: $lightred;
                    font-size: 24px;
                    line-height: 99%;
                    vertical-align: middle;
                } //material-icons
            } //headline
        } //apiarea
    } //mainbottom
} //mainContent