/*  top-stripe
------------------------------------     */

#brandbanner {
    background-color: $purple;
    height: 3px;
    width: 100%;
    top:0;
    z-index: 9999;
} //brandbanner

/* header section
--------------------------------------    */

header#header {
    padding: 1em 0;
    background: lighten($botfobg,6);
    @include small {}
    #logo {
        a {
            display: block;
        
            img#beetoplog {
                @include xsmall {
                    max-width: 75px;
                    margin:0 auto;
                    margin-bottom: 1em;
                }//xsmall
                max-width: 100px;
                height: auto;
                display: block;
                opacity: .9;
                border: 1px solid purple;
                border-radius: 50%;
                box-shadow: 1px 1px 2px 0px rgba(31, 3, 37, 0.9);
            


            } //img#beetoplog

        }//a    
    } //logo
    #brandz {
        h1 {
            margin-bottom: .3em;
            text-align: center;
            @include tablet {
                font-size: 34px;
                line-height: 110%;
            }
            @include small {
                font-size: 30px;
                line-height: 110%;
            }
        } //h1
        h3 {
            text-align: center;
            margin: 0;
            @include tablet {
                font-size: 26px;
                line-height: 110%;
                margin-bottom: .3em;
            }
            @include small {
                font-size: 26px;
                line-height: 110%;
                margin-bottom: .3em;
            }
        } //h3
    } //brandz
} //header
#mainmenu {
    
    @include small {}
    min-height: 56px;
    background: #4d115a;
   
    box-shadow: 0px 0px 1px 0px rgba(77, 17, 90, 0.35);
    $contrasted-dark-default: $lightred;
    .navbar {
        margin-bottom: 0;
        min-height: 56px;
        @include tablet {
            min-height: 52px;
        }
    } //navbar
    .navbar-default,
    .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #eaeaea;
        border-color: transparent;
        border:none;
        background-color: #4d115a;
        .navbar-nav> {
            li {
                a {
                    color: darken($white,10);
                    letter-spacing: .15px;
                    font-size: 14px;
                    line-height: 168%;
                    font-weight: normal;
                    $contrasted-light-default: $white;
                    
                    @extend %basefontSecondary;
                    &:hover {
                        color: $white;
                        text-decoration: underline;
                    } //hover
                    @include tablet {
                        font-size: 15px;
                        letter-spacing: 0;
                    } //tablet
                } //a
            } //li
        } //navbar-nav
    } //navvar-default
    #primary-nav {
        ul {
            border-top: 1px solid darken($purple,10);
            #nav-home a {
                i.material-icons {
                    font-size: 14px;
                    @extend %googleicons;
                } //icon
                @include small {
                    font-size: 14px;
                    line-height: 150%;
                } //small
            } //nav-home a
            #nav-one a {
                i.material-icons {
                    font-size: 13px;
                    @extend %googleicons;
                } //icon
                @include small {
                    font-size: 14px;
                    line-height: 150%;
                } //small
            } //nav-one a
            #nav-two a {
                i.material-icons {
                    font-size: 13px;
                    @extend %googleicons;
                } //icon
                @include small {
                    font-size: 14px;
                    line-height: 150%;
                } //small
            } //nav-two a
            #nav-three a {
                i.material-icons {
                    font-size: 13px;
                    @extend %googleicons;
                } //icon
                @include small {
                    font-size: 14px;
                    line-height: 150%;
                } //small
            } //nav-three a
            #nav-four a {
                i.material-icons {
                    font-size: 13px;
                    @extend %googleicons;
                } //icon
                @include small {
                    font-size: 14px;
                    line-height: 150%;
                } //small
            } //nav-four a
            #nav-five a {
                i.material-icons {
                    font-size: 13px;
                    @extend %googleicons;
                } //icon
                @include small {
                    font-size: 14px;
                    line-height: 150%;
                } //small
            } //nav-five a
            #nav-six {
                 @include small {
                    a.dropdown-toggle {
                        &:focus {
                           background-color: lighten($lightred, 3); 
                       }//focus
                       &:active {
                            background-color: lighten($lightred, 3);
                       }//active
                       &:visited {
                            background-color: lighten($lightred, 3);
                       }
                        font-size: 14px;
                        line-height: 150%;
                    }//a.dropdown-toggle
                   
                } //small
                a b.caret {
                    margin-left: 5px;
                } //caret
                
                a.dropdown-toggle:visited,
                a.dropdown-toggle {
                    background-color: rgb(111, 22, 134);        
                    border-top: 1px solid purple;
                   
                }
                .dropdown-menu>li>a:focus,
                .dropdown-menu>li>a {
                    background-color: #74198c;
                } //dropdown-menu li a focus
                .nav .open>a:focus {
                    background-color: lighten($lightred, 3);
                } //nav open a:focus
                ul.dropdown-menu {
                    min-width: 120px;
                    top: 101%;
                    background-color: rgba(77, 17, 90, 0.92);
                    li> {
                        a {
                            font-size: 13px;
                            font-weight: normal;
                            letter-spacing: .5px;
                            display: inline-block;
                            padding: 2px 5px 2px 0;
                            border-bottom: 1px solid #4d115a;
                            vertical-align: middle;
                            @include keyframes(slide-down);
                        } //a
                        span {
                            i.material-icons {
                                vertical-align: middle;
                                margin-left: 0px;
                                font-size: 13px;
                            } //i.material-icons
                        } //span
                    } //li		
                } //dropdown-menu
            } //nav-six a
        } //ul	
    } //primary-nav
} //mainmenu