//colors
$color_cerulean_approx: #009ed9;
$white: #fff;
$color_periwinkle_gray_approx: #c5d4e4;
$black_25: rgba(0, 0, 0, 0.25);
$color_gallery_approx: #eeeeee;
$black: #000;
$color_catalina_blue_approx: #002776;
$color_red_approx: #e40000;
$color_gold_drop_approx: #e98300;
$color_midnight_approx: #0c1833;
$color_gray_nurse_approx: #e6e8ea;
$color_wild_sand_approx: #f5f5f5;
$black_haze: #f6f7f7;
$color_bon_jour_approx: #e2e2e2;
$color_mine_shaft_approx: #333;
$color_alto_approx: #dddddd;
$color_silver_chalice_approx: #afafaf;
$color_pizazz_approx: #ff9103;
$color_curious_blue_approx: #21a1dd;
$color_cerulean_50_approx: rgba(0, 158, 217, 0.5);
$color_dove_gray_approx: #6f6f6f;
$color_suva_gray_approx: #888888;
$color_mountain_mist_approx: #999;
$black_15: rgba(0, 0, 0, 0.15);
$color_allports_approx: #0075a1;
$color_nobel_approx: #b3b3b3;
$color_delta_approx: #a3a3a3;
$color_silver_approx: #bdbdbd;
$color_storm_dust_approx: #636363;
$color_stack_approx: #8a8a8a;
$color_mercury_approx: #e3e3e3;
$color_pale_slate_approx: #c3c3c3;
$color_pumice_approx: #c9c9c9;
$color_iron_approx: #d6d6d6;
$color_tory_blue_approx: #1b4fb6;
$color_celeste_approx: #cccccc;
$color_royal_blue_approx: #3c73e2;
$color_havelock_blue_approx: #5283e5;
$color_mariner_approx: #2663df;
$color_portage_approx: #7ea3ec;
$color_denim_approx: #1e58cc;
$color_cornflower_blue_approx: #5f8de7;
$color_jordy_blue_approx: #95b3ef;
$color_bunting_approx: #0b1f47;
$black_50: rgba(0, 0, 0, 0.5);
$color_bay_of_many_approx: #153c8a;
$color_cerulean_blue_approx: #2059ca;
$color_chicago_approx: #595959;
$color_link_water_approx: #d9e1f2;
$color_shady_lady_approx: #a6a6a6;
$black_10: rgba(0, 0, 0, 0.1);
$color_athens_gray_approx: #edf1f7;
$color_pigeon_post_approx: #a6b7d9;
$color_cape_cod_approx: #404040;
$color_polo_blue_approx: #829ac9;
$color_blue_haze_approx: #b8c5e0;
$color_shark_approx: #262626;
$color_emperor_approx: #4d4d4d;
$color_tapa_approx: #737373;
$color_fuscous_gray_approx: #505050;
$gray: #808080;
$color_tuatara_approx: #393939;
$color_woodsmoke_approx: #0d0d0d;
$concrete: #f2f2f2;
$color_black_haze_approx: #f6f6f6;
$seashell: #f1f1f1;
$color_star_dust_approx: #9d9d9d;
$color_alabaster_approx: #fbfbfb;
$white_40: rgba(255, 255, 255, 0.4);
$white_50: rgba(255, 255, 255, 0.5);
$white_33: rgba(255, 255, 255, 0.33);
$color_tundora_approx: #444444;
$web_orange: #ffa500;
$gallery: #efefef;
$white_80: rgba(255, 255, 255, 0.8);
$color_mercury_80_approx: rgba(230, 230, 230, 0.8);
$color_whisper_approx: #f4f6fa;
$color_cadet_blue_approx: #a9b4cb;
$color_aqua_forest_approx: #53ac71;
$color_goblin_approx: #47855c;
$color_pink_swan_approx: #bababa;
$white_17_5: rgba(255, 255, 255, 0.175);
$color_celeste_67_approx: rgba(204, 204, 204, 0.6699999999999999);
$color_boulder_approx: #797979;
$color_old_brick_approx: #981b1b;
$color_geyser_approx: #d4dced;
$black_20: rgba(0, 0, 0, 0.2);
$color_bali_hai_approx: #929caf;
$color_calypso_approx: #3d6b99;
$black_75: rgba(0, 0, 0, 0.75);
$color_emerald_approx: #40bf6a;
$color_sea_green_approx: #339955;
$color_emerald_25_approx: rgba(64, 191, 106, 0.25);
$color_crail_approx: #bf4f40;
$alto: #dbdbdb;
$color_tropical_blue_approx: #cedaf3;
$color_white_lilac_approx: #f7f9fd;
$color_perano_approx: #a5bce9;
$color_mystic_approx: #e2eaf8;
$color_spindle_approx: #bacbee;
$color_rangoon_green_approx: #1a1a1a;
$mine_shaft_72: rgba(50, 50, 50, 0.72);
$mercury: #e5e5e5;
$black_7_5: rgba(0, 0, 0, 0.075);
$color_cornflower_blue_60_approx: rgba(102, 175, 233, 0.6);
$color_pesto_approx: #8a6d3b;
$color_shingle_fawn_approx: #66512c;
$color_twine_approx: #c0a16b;
$color_solitaire_approx: #fcf8e3;
$color_apple_blossom_approx: #a94442;
$color_lotus_approx: #843534;
$color_new_york_pink_approx: #ce8483;
$color_vanilla_ice_approx: #f2dede;
$color_killarney_approx: #3c763d;
$color_lunar_green_approx: #2b542c;
$color_fern_approx: #67b168;
$color_willow_brook_approx: #dff0d8;
$color_bahama_blue_approx: #00678e;
$color_bondi_blue_approx: #008cc1;
$color_picton_blue_approx: #27c5ff;
$color_deep_cerulean_approx: #007aa7;
$color_cod_gray_approx: #000a0e;
$color_teal_blue_approx: #00425a;
$color_dodger_blue_approx: #0ebeff;
$color_aqua_squeeze_approx: #e5f3f6;
$black_6: rgba(0, 0, 0, 0.06);
$color_limeade_approx: #739600;
$color_mountain_mist_67_approx: rgba(153, 153, 153, 0.6699999999999999);
$color_black_pearl_approx: #000e2a;
$color_smalt_approx: #002f90;
$color_madison_approx: #001f5d;
$color_cobalt_approx: #0040c3;
$color_tangaroa_approx: #001643;
$color_science_blue_approx: #0049dc;
$color_gulf_blue_approx: #001a50;
$color_international_klein_blue_approx: #0038a9;
$color_cararra_approx: #ebebeb;
$color_lynch_approx: #70859a;
$color_olivine_approx: #94cc5a;
$color_botticelli_approx: #c6d7e7;
$red: red;
$color_brandy_approx: #ddc098;
$color_tuna_approx: #313b45;
$color_mabel_approx: #d6f3fe;
$color_black_squeeze_approx: #f3f8fc;
$color_lily_white_approx: #e6f5fc;
$color_chelsea_gem_approx: #9d5800;
$color_tahiti_gold_approx: #e78302;
$color_indochine_approx: #d07500;
$color_sunshade_approx: #ffa736;
$color_mai_tai_approx: #b66600;
$color_west_side_approx: #ff9813;
$color_texas_rose_approx: #ffb250;
$color_creole_approx: #1d1000;
$color_nutmeg_wood_finish_approx: #6a3b00;
$color_tree_poppy_approx: #ff9c1d;
$color_quill_gray_approx: #d2d2d2;
$color_red_berry_approx: darkred;
$color_spring_wood_approx: #f5f7ef;
$color_rock_blue_approx: #a2bad4;
$color_kashmir_blue_approx: #466d97;
$color_ship_cove_approx: #6e93bb;
$color_catskill_white_approx: #eff3f7;
$color_milano_red_approx: #ba0909;
$color_hampton_approx: #ead8af;
$color_coconut_cream_approx: #fbf8dd;
$color_gray_approx: #828282;
$color_pattens_blue_approx: #e1f4fb;
$black_45: rgba(0, 0, 0, 0.45);
$color_concord_approx: #7c7c7c;
$color_japanese_laurel_approx: #008000;
$color_apple_approx: #609a3e;
$color_red_violet_approx: #d71f85;
$color_manatee_approx: #8d929e;
$color_vida_loca_approx: #4d9201;
$color_guardsman_red_approx: #d20000;
$color_scooter_approx: #2cb2e4;
$white_20: rgba(255, 255, 255, 0.2);
$color_steel_blue_approx: #518ac4;
$color_masala_approx: #3d3d3d;
$color_flame_pea_approx: #e24f3c;
$color_romance_approx: #fefefe;
$white_75: rgba(255, 255, 255, 0.75);
$color_baltic_sea_approx: #2b2b2b;
$color_terracotta_approx: #e87768;
$color_thunderbird_approx: #cc331e;
$alabaster: #fafafa;
$color_silver_tree_approx: #6aaf81;
$color_silver_sand_approx: #c2c2c2;
$color_antique_bronze_approx: #764f00;
$boulder: #7a7a7a;
$color_biscay_approx: #182f63;
$color_sapphire_approx: #244793;
$color_gunsmoke_approx: #838383;
$color_mountain_mist_approx:#838388;