/* adobe color generator
=======================  */

$green :   #7E8C16;
$blue   :   #4f95df;
$lightgreen  :   #c5d937;
$lightred    :	#a62319;
$darkred  :	#8c251d;
$background: #fbfcf3;
$regcopy: #555932;
$white: #f7f7f7;
$black: #000000;

/* purple */
$purple: #2d0237;


/*dark purple h5*/
$dpurple:#311b36;
